body{
	margin:0;
	padding:0;
}

ul{
	list-style:none;
}


a{
	text-decoration:none;
}
#carousel{
	position:relative;
	width:730px;
	height:454px;
}
img{
	border:0;
}
#carousel img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#car1{
	position:absolute;
	bottom:5px;
	left:300px;
}
#car1 li{
	float:left;
	margin-left:10px;
	border-radius:15px;
	padding:0 5px;
	background-color:#3e3e3e;
	color:white;
}
 